#root {
  max-width: 1280px;
  margin: 0 auto;
  padding:  0rem 2rem;
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  overflow-x:hidden ;
}


.hero_shadow{
  box-shadow :16px 32px 500px  #f88396;  transform-style: preserve-3d;
  height: 220px;
  width: 230px;
  position: absolute;
  background-color: transparent;
  top: 42px;
  right: 0;
  left: 50px;
  bottom: 0;
  z-index: -99;
  border-radius: 100%;
}

.hero_shadow:hover {
  box-shadow :16px 32px 900px  red; 
}

@media (max-width: 768px) {
  #root {
    padding:  1.5rem 1.5rem;
  }

  .hero_shadow{
    box-shadow :16px 32px 200px  #f88396;  transform-style: preserve-3d;
    height: 220px;
    width: 230px;
    position: absolute;
    background-color: transparent;
    top: 32px;
    right: 0;
    left: 48px;
    bottom: 0;
    z-index: -99;
    border-radius: 100%;
  }

 }

 input,input:focus,textarea {
  font-size: 16px;
 }


 .glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.glitch {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: #f3899b;
  letter-spacing: 1px;
  z-index: 1;
  cursor: text;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00FFFF;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #FF00FF;
  z-index: -2;
}

.app_shadow:before{
  box-shadow :-56px 92px 1100px 50px  #666 ;  transform-style: preserve-3d;
  background-color: transparent !important;
  z-index: -9999;
  opacity: 0.8;
}

@keyframes glitch-it {
  0% {
     transform: translate(0);
  }
  20% {
     transform: translate(-2px, 2px);
  }
  40% {
     transform: translate(-2px, -2px);
  }
  60% {
     transform: translate(2px, 2px);
  }
  80% {
     transform: translate(2px, -2px);
  }
  to {
     transform: translate(0);
  }
}

.hero_title {
  transition: ease-in-out .4s;
  
}

.hero_title:hover {
  text-shadow: 2px -5px 60px #fff;
  transition: ease-in-out .4s;
  cursor: text;
}

#in_brain_link:hover {
  opacity: 0.9;
  box-shadow: 0 0 20px 2px #fff;
}



/* Loading Page*/

.loading-slide {
  position: relative;
  width: 24%;
  margin: 0 auto;
  z-index: 99999;
}
.loading-slide .slide {
  position: absolute;
  width: 25%;
  height: 5px;
  background: #7079FE;
  animation: slide 2.3s infinite;
  top:330px;
}
.loading-slide .slide:nth-of-type(0n+1) {
  opacity: 0.2;
  transform: scale(1.8, 1);
  animation-delay: 0.2s;
}
.loading-slide .slide:nth-of-type(0n+2) {
  opacity: 0.4;
  transform: scale(1.4, 1);
  animation-delay: 0.1s;
}
.loading-slide .slide:nth-of-type(0n+3) {
  opacity: 0.8;
}


@keyframes slide {
  0%, 100% {
    left: 0;
  }
  50% {
    left: 100%;
  }
}


/* SOLAR SYSTEM */

.solar-system {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #fafbfC;
	border-radius: 50%;
  box-shadow: 0 0 214px -30px #7079FE;
} 

.earth-orbit {
	width: 165px;
	height: 165px;
  -webkit-animation: spin 12s linear 0s infinite;
}

.venus-orbit {
	width: 120px;
	height: 120px;
  -webkit-animation: spin 7.4s linear 0s infinite;
}

.mercury-orbit {
	width: 90px;
	height: 90px;
  -webkit-animation: spin 3s linear 0s infinite;
}

.planet {
	position: absolute;
	top: -5px;
  width: 10px;
  height: 10px;
	border-radius: 50%;
  background-color: #7079FE;
}

.sun {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #f3899b;
}

.leo {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

