#root {
  max-width: 1280px;
  margin: 0 auto;
  padding:  1.5rem 2rem;
  font-family: 'DM Sans', sans-serif;
}


.hero_shadow{
  box-shadow :16px 32px 500px  #f88396;  transform-style: preserve-3d;
  height: 220px;
  width: 230px;
  position: absolute;
  background-color: transparent;
  top: 42px;
  right: 0;
  left: 50px;
  bottom: 0;
  z-index: -99;
  border-radius: 100%;
}


@media (max-width: 768px) {
  #root {
    padding:  1.5rem 1.5rem;
  }

  .hero_shadow{
    box-shadow :16px 32px 200px  #f88396;  transform-style: preserve-3d;
    height: 220px;
    width: 230px;
    position: absolute;
    background-color: transparent;
    top: 42px;
    right: 0;
    left: 48px;
    bottom: 0;
    z-index: -99;
    border-radius: 100%;
  }

 }
