@tailwind base;
@tailwind components;
@tailwind utilities;

@-ms-viewport{
  width: device-width;
}

html {
  height: 100%;
  box-sizing: border-box;
}


a {
  font-weight: 500;
  color: #7079FE;
  text-decoration: inherit;
}
a:hover {
  color: #7079FE;
}

body {
  margin: 0;
  background-color: #070707;
  color: #fff;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

[data-testid="flowbite-navbar-toggle"]  {
  color: #fff ;
  margin-left: 10px;
}

[data-testid="flowbite-navbar-toggle"]:hover  {
  color: #7079FE ;
}

[data-testid="timeline-point"] > div{
background-color: #f86f7f !important;
}

[data-testid="timeline-point"] > span{
  background-color: #f86f7f !important;
}
[data-testid="timeline-point"] > span > svg{
  color: white !important;
}

[data-testid="timeline-point"] > div{
  color: white !important;
  background-color: #7079fe !important;
}

[role='tablist'] {
  border-bottom: solid 2px #7079FE;
 
}


@media (max-width: 768px) {
  [role='tablist'] {
    border-bottom: solid 2px #7079FE;
    display: flex;
    flex-direction: column;
  }
  
  [role='tablist'] > button {
    /* width: 90px;
    text-align: center; */
    justify-content: flex-start;
  }
}

[role='tablist'] > button:hover {
  color: white;
  background-color: #7079FE;
  transition:  ease-in-out .3s;
  border-radius: 0px;
}

[role='tablist'] > button:focus {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  background-color: #7079FE;
  color: white !important;
  transition:  ease-in-out .8s;
  border-radius: 0px;
}

[aria-selected='true'] {
  color: #7079fe !important;
}


[role='tabpanel'] > section > ol {
  border-left: solid 2px #7079FE;
}
/* Scroll  
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #181818 #090915;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 7px;
  width: 7px; 
}
*::-webkit-scrollbar-track {
  border-radius: 7px;
  background-color: #090915;
}

*::-webkit-scrollbar-track:hover {
  background-color: #181818;
}

*::-webkit-scrollbar-track:active {
  background-color: #181818;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #181818;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #f86f7f; transition: ease-in-out .5s;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #f86f7f; transition: ease-in-out .5s;
}

#mouse {
  width: 3em;
  height: 3em;
  background-color: rgba(255,255,255,0.1);
  position: absolute;
  border: solid 2px #7079FE;
  box-shadow: 0 0 250px 30px #7079FE;
  transform: translate(95%, 145%);
  border-radius: 50%;
  transition: 0.1s ease-out;
  position: fixed;;
}
